<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.melanieh.tourguideapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RestsActivity"
            android:label="@string/appbar_rests"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        />
        <activity
            android:name=".EduActivity"
            android:label="@string/appbar_edu"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".OutdoorActivity"
            android:label="@string/appbar_outdoor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".WineActivity"
            android:label="@string/appbar_wine"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShopsActivity"
            android:label="@string/appbar_shops"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CafesActivity"
            android:label="@string/appbar_cafes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.example.melanieh.tourguideapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ContentMainActivity"
            android:label="@string/appbar_content_main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>